/*Do not include stylesheets manually.*/
/*See: https://nextjs.org/docs/messages/no-css-tagseslint@next/next/no-css-tags*/

body {
	color: rgb(85, 85, 85);
	text-align: center;
	font-family: sans-serif;
}
